*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
  font-family: sans-serif;
  width: 100%;
}
.container {
 max-width: 97%;
 padding: 30px 1px;
 margin: 20px auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
section,
header {
    /* outline: red solid 1px; */
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}
.split {
    display: flex;
}
nav {
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 7rem;
}
.menu li {
    margin: 0 5px;
    font-size: .86rem;
}
.menu a {
    color: grey;
}

.hero {
    margin: 5rem 0;
}
.alignment {
    text-align: center;
}
.center {
    margin-inline: auto;
}
.hero-sect h1 {
    width: 410px;
    font-size: 30px;
}
.hero-sect p {
    width: 310px;
    margin: 20px auto;
}
form {
    flex-direction: column;
}
input {
    margin: 5px;
    height: 50px;
    border: 0;
    border-radius: 5px;
}
input[type="email"] {
    padding-left: 20px;
    outline: 1px solid grey;
}
input[type="button"] {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 20px;
}
.one {
    background: url('images/bg-curve-mobile.svg') no-repeat center center / cover;
    padding: 100px 50px;
}
.one h3 {
    width: 80%;
    margin-block: 30px;
}
.one > div p {
    width: 90%;
}
.one a {
    margin: auto;
    padding: 10px 0;
    display: block;
    width: 190px;
    color: green;
    border-bottom: 1.3px solid;
}
.one a i {
    background-color: green;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: .6rem;
}
.card {
    background-color: #fff;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    margin-top: 20px;
}
.card .quote {
    font-size: 60px;
}
.card > p {
    line-height: 1.5;
}
.profile {
    display: flex;
    align-items: center;
    margin: 20px 0;
    /* outline: 1px red solid; */
}
.profile p {
    /* outline: 1px red solid; */
    font-size: 0.7rem;
    width: 400px;
}
.profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.two {
    background-color: hsl(221, 21%, 14%);
    color: #fff;
    padding: 40px 50px;
    text-align: center;
}
.two p {
    width: 360px;
    margin: 20px;
}
footer {
    background-color: hsl(221, 21%, 14%);
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
footer a {
    color: grey;
}
footer li {
    margin: 10px 0;
}
.details p {
    margin: 30px 0;
}
.socials {
    margin: 20px auto;
}
.socials i {
    margin: 0 10px;
    width: 20px;
    height: 20px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .hero img {
        width: 50%;
    }
    .hero-sect p,
    .hero-sect h1 {
        text-align: initial;
        width: 500px;
    }
    .hero-sect p {
        margin: 20px 0;
    }
    form {
        flex-direction: row;
    }
    input[type="email"] {
        width: 300px;
    }
    input[type="button"] {
        width: 150px;
    }
    .one {
        display: flex;
        flex-direction: row-reverse;
    }
    .one img {
        width: 50%;
        height: 50%;
    }
    .one h3,
    .one a {
        margin-inline: 0;
    }
    .card {
        width: 400px;
        margin: 30px 0;
        padding: 10px;
    }
    .card p {
        width: 100%;
    }
    .card .profile p {
        margin: 0;
    }
    .card img {
        width: 30px;
    }
    .one p {
        margin-inline: 0;
    }
    .two {
        display: flex;
    }
    .two h1,
    .two p {
       text-align: left;
    }
    .two input[type="email"] {
        width: 500px;
        display: block;

    }
    .imp-links {
        margin: 0 100px;
    }
    footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}